// BACKGROUND COLORS
.b-light-grey {
    background-color: $light-grey;
}

.b-white {
    background-color: $off-white;
}

.b-purple {
    background-color: $purple;
}

// COLORS
.smokey-grey {
    color: $smokey-grey;
}

.off-black {
    color: $off-black;
}

.purple {
    color: $purple;
}