// FONT WEIGHT
.font-regular {
    font-weight: 400;
}

.font-regular-italic {
    font-style: italic;
    font-weight: 400;
}

.font-bold {
    font-weight: 700;
}

.font-bold-italic {
    font-style: italic;
    font-weight: 700;
}

.font-extrabold {
    font-weight: 800;
}

.font-extrabold-italic {
    font-style: italic;
    font-weight: 800;
}

//FONT SIZE 
.font-8 {
    font-size: 0.5rem;
}

.font-16 {
    font-size: 1rem;
}

.font-20 {
    font-size: 1.25rem;
}

.font-32 {
    font-size: 2rem;
}

.font-80 {
    font-size: 4.5rem;
}

// LETTER SPACE
.space-3 {
    letter-spacing: 3px;
}


