@import './config';
@import './fonts';
@import './colors';
@import './layout';
@import './box';
@import './form';

body {
    font-family: $poppins;
    height: 100vh;
}

.anchor {
    text-decoration: none;

    &:hover {
        color: $purple;
    }
}

.main {
    padding: 3rem 0.8rem;
    min-width: 50%;
    border-radius: 1rem 1rem 10rem 1rem;

    @include for-laptop-up {
        padding: 3rem;
    }
}