@import './config';
@import './fonts';
@import './colors';
@import './layout';
@import './box';

body {
    font-family: $poppins;
    height: 100vh;
}

.input {
    font-family: $poppins;
    width: 105px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button,
    &[type=number] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield;
    }
}

.anchor {
    text-decoration: none;

    &:hover {
        color: $purple;
    }
}

.main {
    padding: 3rem 0.8rem;
    min-width: 55%;
    border-radius: 1rem 1rem 10rem 1rem;

    @include for-laptop-up {
        padding: 3rem;
    }
}